* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    width: 1250px;
    margin: auto;
}

.header-top {
    background: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo-icon {
    width: 26px;
    height: 26px;
}
.logo-text {
    font-size: 22px;
    font-weight: 600;
    color: #1a73e8;
}

.search-wrapper {
    display: flex;
    align-items: center;
    background: #fff;
    border: 2px solid #d0d7e2;
    border-radius: 8px;
    overflow: hidden;
    width: 500px;
}
.search-wrapper input {
    flex: 1;
    padding: 12px;
    border: none;
}
.search-wrapper select {
    padding: 12px;
    border: none;
    border-left: 1px solid #ddd;
}
.search-wrapper button {
    background: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.header-right {
    display: flex;
    gap: 25px;
    font-size: 14px;
    color: #555;
}
.icon-block {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-nav {
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}
.nav-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left, .nav-right {
    display: flex;
    gap: 25px;
}
.nav-item {
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.footer {
    background: #f6f8fa;
    margin-top: 40px;
    padding-top: 40px;
}


.newsletter {
    text-align: center;
    margin-bottom: 40px;
}
.newsletter h2 {
    font-size: 22px;
    font-weight: 600;
}
.newsletter p {
    margin-top: 8px;
    color: #666;
}
.newsletter-box {
    margin-top: 20px;
    display: inline-flex;
    border: 1px solid #cdd4df;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
}
.newsletter-box input {
    padding: 12px 15px;
    border: none;
    width: 260px;
}
.newsletter-box button {
    padding: 12px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}


.footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    padding-bottom: 40px;
}

.footer-col h3 {
    margin-bottom: 12px;
    font-size: 15px;
}
.footer-col a {
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    color: #555;
    font-size: 14px;
}
.footer-col p {
    color: #666;
    margin-top: 10px;
    font-size: 14px;
}

.store-btn {
    width: 120px;
    margin-top: 10px;
}

.footer-bottom {
    border-top: 1px solid #ddd;
    padding: 18px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.footer-lang {
    margin-left: 20px;
}
